body {
  background: url(https://images.unsplash.com/photo-1428677361686-f9d23be145c9?q=80&fm=jpg&s=ddf7daf6c19218e1acceba277f1080a1);
  background-size: cover;
  text-align: center;
  color: white;
}