body {
  background: url(https://images.unsplash.com/photo-1431538510849-b719825bf08b?q=80&fm=jpg&s=6fd7a983e3b43e66d2b6062856b9df66);
  background-size: cover;
  text-align: center;
  color: white;
}